{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
 
<h1>Welcome to Interior Design</h1>

{% endblock content %}
{% block  body%}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
 <div class="container">

   <div class="section-title">
     <h2>Welcome To Interior Design</h2>
<h1>This is Swapna Project</h1>
       <h1>This is shuvo project</h1>
     <h3>Check our <span>Design</span></h3>
     <p>Here is some of our design.</p>

   </div>





 </div>
</section>
<!-- End Portfolio Section -->
{% endblock body%}

