{% extends "base.html" %}
<!-- Extending base.html template -->

{% block title %}Home{% endblock title %}
<!-- Setting block title to 'Home' -->

{% block content %}
<!-- Beginning of content block -->

<h1>Welcome to Interior Design</h1>
<!-- Heading displaying welcome message -->

{% endblock content %}
<!-- End of content block -->

{% block  body%}
<!-- Beginning of body block -->
{% load static %}
<!-- Loading static files -->

<!-- ======= Portfolio Section ======= -->
<!-- Beginning of Portfolio section -->
<section id="portfolio" class="portfolio">
  <div class="container">
    {% for message in messages %}
    <!-- Looping through messages -->

    <!-- Displaying Alert Messages -->
    <!-- Alert message for each message -->
    <div
      class="alert alert-{{message.tags}} alert-dismissible fade show"
      role="alert"
    >
      <strong>{{message}}</strong>
      <!-- Displaying message content -->
      <!-- Button to Close the Alert -->
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
    <!-- End of message loop -->

    <div class="section-title">
      <!-- Section title div -->
      <h2>Welcome To Interior Design</h2>
      <!-- Heading displaying welcome message -->
      <h3>Check Our <span>Design</span></h3>
      <!-- Subheading -->
      <p>Here is some of our design.</p>
      <!-- Paragraph displaying additional information -->
    </div>

    {% for design, range, nSlides in allProds %}
    <!-- Looping through designs -->

    <!-- Displaying Design Categories -->
    <!-- Heading displaying design category -->
    <h3 class="my-3 text-center text-success bg-light">
      {{design.0.category}} Design
      <!-- Displaying design category -->
    </h3>

    <!-- Displaying Design Cards -->
    <!-- Div for design cards -->
    <div class="container">
      <!-- Container div -->
      <div class="row">
        <!-- Row div -->

        {% for i in design %}
        <!-- Looping through designs -->

        <div class="col-md-3 mt-3">
          <!-- Column div -->
          <!-- Displaying Design Image -->
          <!-- Image tag displaying design image -->
          <img src="/media/{{i.image}}" class="card-img-top" alt="not found" height="200px" width="150px" />
          <div class="card-body">
            <!-- Card body div -->
            <!-- Displaying Design Name -->
            <!-- Heading displaying design name -->
            <h5 class="card-title mt-2" id="namepr{{i.id}}">{{i.design_name}}</h5>
            <!-- Displaying Design Description -->
            <!-- Paragraph displaying design description -->
            <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
            <!-- Displaying Design Price -->
            <!-- Heading displaying design price -->
            <h6 class="card-title mb-3">
              Price:<span id="pricepr{{i.id}}">{{i.price}}</span>
            </h6>
            <!-- Button to Add Design to Cart -->
            <!-- Button to add design to cart -->
            <span id="divpr{{i.id}}" class="divpr">
              <button id="pr{{i.id}}" class="btn btn-danger cart btn-sm mt-0">
                AddToCart <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </span>

            <!-- Button to View Design Details -->
            <!-- Button to view design details -->
            <a href="/media/{{i.image}}">
              <button class="btn btn-dark btn-sm cart">View<i class="fa-solid fa-eye"></i></button></a
            >
          </div>
        </div>
        <!-- End of design loop -->
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <!-- End of design category loop -->
  </div>
</section>
<!-- End Portfolio Section -->
<!-- End of Portfolio section -->

<!-- JavaScript Libraries -->
<!-- JavaScript libraries section -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script> <!-- jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> <!-- Popper.js library -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> <!-- Bootstrap library -->

<!-- JavaScript Code -->
<!-- JavaScript code section -->
<script>

  // Find out the card from local storage

  if (localStorage.getItem('cart') == null) {
      var cart = {};
  } else {
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart);

  }
  // Add or increment code

  // $('.cart').click(function() {
  $('.divpr').on('click', 'button.cart', function() {
      var idstr = this.id.toString();
      console.log(idstr)

      if (cart[idstr] != undefined) {
          qty = cart[idstr][0] + 1;

      } else {
          qty = 1;
          name = document.getElementById('name' + idstr).innerHTML;
          price = document.getElementById('price' + idstr).innerHTML;
          cart[idstr] = [qty, name, price];

      }
      updateCart(cart);

      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
      console.log( Object.keys(cart).length)
      document.getElementById("popcart").click();
  });
  // Add pop over to cart

  $('#popcart').popover();

  updatePopover(cart);
  function updatePopover(cart) {


      console.log('we are  inside update popover');

      var popStr = "";
      var popStr = popStr + "<h5> cart for your items in my shopping cart </h5> <div class='mx-2 my-2'>";
      var i = 1;
      for (var item in cart) {
          popStr = popStr + "<b>" + i + "</b>. ";
          popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "..." + "<b>" +cart[item][0] + "</b>"+ "Qty"  + '<br>';
          i = i + 1;
      }

      popStr = popStr + "</div> <a href='/checkout'><button class='btn btn-success' id='clearCart'>Checkout</button></a>  <button class='btn btn-dark' onclick='clearCart()' id='clearCart'>ClearCart</button>"
      document.getElementById('popcart').setAttribute('data-content', popStr);
      $('#popcart').popover('show');
      document.getElementById("popcart").click();
  }

  function clearCart() {
      cart = JSON.parse(localStorage.getItem('cart'));
      for (var item in cart) {
          document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-danger cart">AddtoCard <i class="fa-solid fa-cart-shopping"></i></button>'
      }
      localStorage.clear();
      cart = {};
      updateCart(cart);

     let clear= document.getElementById("popcart").click();
     document.getElementById("popcart").click();

  }

  function updateCart(cart) {
      var sum = 0;
      for (var item in cart) {
          sum = sum + cart[item][0];
          document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "'class='btn btn-success minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-success plus'> + </button>";
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = sum;
      console.log(cart);
      updatePopover(cart);
      document.getElementById("popcart").click();
  }

  // If plus or minus button is clicked change the cart as well as the display value
  $('.divpr').on("click", "button.minus", function() {

      a = this.id.slice(7, );
      cart['pr' + a][0] = cart['pr' + a][0] - 1;
      cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
      updateCart(cart);


  })


  $('.divpr').on("click", "button.plus", function() {

      a = this.id.slice(6, );
      cart['pr' + a][0] = cart['pr' + a][0] + 1;

      document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
      updateCart(cart);


  })
</script>
<!-- End of JavaScript code -->
{% endblock body%}
<!-- End of body block -->