{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block body %}
<section id="portfolio" class="portfolio">
    <div class="container">
<h1>Designer Portfolio</h1>

<button style="background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;"
        onclick="window.open('https://shuvosh24.github.io/resume/', '_blank')">
    Shuvo
</button>

<button style="background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;"
        onclick="window.open('https://roysusmita03.github.io/', '_blank')">

    Susmita
</button>

<button style="background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;"
        onclick="window.open(' https://humaira21201178.github.io/Humaira-Protfolio/', '_blank')">
    Humaira
</button>

<button style="background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;"
        onclick="window.open('https://swapnasikder.github.io/', '_blank')">
    Swapna
</button>
<br>
<br>
<br>
<br>
<h1>Github Contributions</h1>
<button style="background-color: #000000;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;"
        onclick="window.open('https://github.com/shuvoSh24/FinalPr01Project/graphs/contributors', '_blank')">
    Controbutions
</button>
</section>
{% endblock body %}